Flask>=2.0.1
python-dotenv>=0.18.0
pytest-dotenv>=0.5.2
requests>=2.25.1
pytest>=6.2.4
flask_marshmallow>=0.14.0
Flask-SQLAlchemy>=2.5.1

#For PostgreSQL database users
psycopg2>=2.9.1

#Only if using celery
#celery>=5.1.1